
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>MRS Mall a Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
	<!--for-mobile-apps-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="MRS Mall Responsive Website Template, Web Templates, Flat Web Templates, Android Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--//for-mobile-apps-->
	
	<!-- Custom-Theme-Files -->
    <!-- Bootstrap-CSS --> 			<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <!-- JQuery --> 				<script th:src="@{/js/jquery.min.js}"></script>
    <!-- Bootstrap-Main --> 		<script src="@{/js/bootstrap.min.js}">		</script>
    <!-- Index-Page-Styling --> 	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all">
	<!-- Font-awesome-Styling --> 	<link rel="stylesheet" th:href="@{/css/font-awesome.css}" type="text/css" media="all">

	
<!-- Js for Responsive slider -->	
	<script th:src="@{/js/modernizr.js}" type="text/javascript"></script>
	<script th:src="@{/js/responsiveslides.min.js}"></script>
	<script> 
		// You can also use "$(window).load(function() {"
		$(function () {
		  // Slideshow 1
		  $("#slider1").responsiveSlides({
			 auto: true,
			 nav: true,
			 speed: 500,
			 namespace: "callbacks",
		  });
		});
	</script>

	<!--JS for animate-->
	<link th:href="@{/css/animate.css}" rel="stylesheet" type="text/css" media="all">
	<script th:src="@{/js/wow.min.js}"></script>
		<script>
			new WOW().init();
		</script>
	<!--//end-animate-->

	<script th:src="@{/js/jquery.countdown.js}"></script>
	<script th:src="@{/js/script.js}"></script>
	<link rel="stylesheet" th:href="@{/css/jquery.countdown.css}" />
	<link rel="stylesheet" th:href="@{/css/swipebox.css}">
	
</head>

<body>

<div class="header">

		<div class="nav">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						   <a class="navbar-brand" href="index.html"><img th:src="@{/images/1.png}" alt=""><h1>Mall</h1></a>
						</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						
						<ul class="nav navbar-nav navbar-right menu slide">
							<li><a href="index.html" class="orange">Layout</a></li>
							<li><a href="about.html" class="orange">Bids</a></li>
							<li><a href="shopping.html" class="orange">Settings</a></li>
							<li>
							<form th:action="@{/shopOwner/logout}" method="get">
								<button class="btn btn-md btn-danger btn-block" name="registration"
									type="Submit">Logout</button>
							</form>   
							</li>
						</ul>
					       
					</div><!-- navbar-collapse -->
				</div><!-- container -->
			</nav>
			<div class="clearfix"></div>
		</div> <!-- Nav Ends -->
</div><!--//header-->

<div class="h-grid1">
	<div class="container">
		<div class="h-grid1-padding">
			<h3 th:utext="${mall.mallName}"></h3>
			<h3 th:utext="${mall.address}"></h3>
			<h3 th:utext="${mall.phoneNo}"></h3>
			
		  <div class="clearfix"> </div>
		</div>
	</div>
</div><!--//h1-grid1-->	
<div th:if="${not #lists.isEmpty(mall.floors)}">
<div th:each="p,iterP : ${mall.floors}" class="s-grid3">
	<div class="container">
		<div class="s-grid3-padding">
          <h2><span>Floor Level </span><span th:utext="${p.floorLevel}"></span> </h2>
		  <h6><span>Floor Category: </span><span  th:utext="${p.floorCategory}"></span> </h6>
		  <h6><span>Floor Plan: </span><span  th:utext="${p.floorPlan}"></span></h6>
			<div th:if="${not #lists.isEmpty(p.shops)}">
				<div th:each="s,iterS : ${p.shops}" class="col-md-6 col-sm-6 egrid">
					<div class="img">
						<img th:src="@{/images/s1.jpg}" alt="">
					</div>
					<div class="textt">
						<h3 th:utext="${s.shopName}"></h3>
						<h3 th:utext="${s.shopNumber}"></h3>
						<label class="eline"></label>
						<p>About Shop</p>
						<a href="#" data-toggle="modal" th:onclick="'openPopUp(\'' + ${s.shopID} + '\');'">READ MORE</a>
							<!-- Modal -->
							<div class="modal fade" th:id="${s.shopID}" role="dialog" th:fragment="modelContents">
								<div class="modal-dialog">
								<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4>Jewellery Shop</h4>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
										</div>
									</div>
								</div>
							</div>
					</div>
				  <div class="clearfix"></div>
				</div>
				
			</div>
		  <div class="clearfix"></div>
		 
		</div>
	</div>
</div>
</div>

<div class="footer-w3l">
	<div class="container">
		<ul class="social-agile">
			<li><a href="#" class="facebook" title="Go to Our Facebook Page"> 			<i class="fa fa-facebook" aria-hidden="true"></i> 		</a></li>
			<li><a href="#" class="twitter" title="Go to Our Twitter Account"> 			<i class="fa fa-twitter" aria-hidden="true"></i>		</a></li>
			<li><a href="#" class="vk" title="Go to Our VK Account"> 					<i class="fa fa-vk" aria-hidden="true"></i>				</a></li>
			<li><a href="#" class="instagram" title="Go to Our Instagram Account">		<i class="fa fa-linkedin" aria-hidden="true"></i>    	</a></li>
		</ul>
		<div class="rights-wthree">
				<p>© 2016 MRS Mall. All Rights Reserved | Design by  <a href="https://w3layouts.com/" target="_blank"> w3layouts </a></p>
		</div>
	  <div class="clearfix"> </div>
	</div>
</div>
	
</body>
</html>